header{
    background-color: black;
    color: white;
    display: inline-block;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

#company-detail-header{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#company-detail-header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 4px 6px rgb(216, 216, 216);
    width: 140vh;
    padding: 10px;
    border-radius: 12.5px;
    background-color: white;
}

#company-intro-container{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#company-intro{
    align-items: center;
    border-bottom: 1px solid lightgrey;
    width: 100vh;
    padding: 10px;
    background-color: white;
    line-height: 1.5;
}

#label{
    background-color: rgb(160, 186, 240);
    font-weight: bold;
    font-size: 12px;
    border-radius: 12.5px;
    width: 15%;
    padding: 4px;
    text-align: center;
    color: rgb(0, 0, 0);
}

#company-industry{
    font-size: 15px;
    font-weight: lighter;
}

#company-details-container{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

#company-details{
    display: flex;
    justify-content: space-between;
    width: 100vh;
    background-color: white;
    height: 65vh;
    border-radius: 12.5px;
    padding: 10px;
}

#company-info-container{
    display: flex;
    flex-direction: column;
    gap: 6%;
    width: 30%;
}

#company-info{
    box-shadow: 2px 4px 6px rgb(216, 216, 216);
    border-radius: 12.5px;
    height: 40%;
    padding: 25px;
    line-height: 1.5;
}

#company-student-no{
    box-shadow: 2px 4px 6px rgb(216, 216, 216);
    border-radius: 12.5px;
    height: 17%;
    padding: 25px;
    text-align: center;
}

#company-contact-info-container{
    height: 100%;
    box-shadow: 2px 4px 6px rgb(216, 216, 216);
    border-radius: 12.5px;
    width: 63%;
    padding: 10px;
    background-color: rgba(235, 235, 235, 0.707);
}

#company-contact-info{
    height: 85%;
    margin: 20px;
    box-shadow: 2px 4px 6px rgb(222, 222, 222);
    border-radius: 12.5px;
    padding: 15px;
    background-color: white;
}

#main-content{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    gap: 25px;
}

.content-row{
    display: flex;
    justify-content: space-between;
}

.content {
    width: 50%;
    line-height: 1.5;
    font-weight: bold;
}

label{
    font-weight: bold;
    font-size: 11px;
    color: rgb(157, 150, 141);
}


