* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: url(LoginBackgroundImage.jpg) center center / cover no-repeat
    fixed;
  position: relative;
}

.content-header {
  font-size: 1rem;
  padding: 5px;
  background: #10263b;
  display: flex;
  color: white;
}

.sidebar {
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -300px;
  background-color: rgb(255, 255, 255);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-blend-mode: lighten;
  padding-top: 1vw;
  font-family: "Arial", sans-serif;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 1100;
}

.sidebar.show {
  left: 0;
}

.sidebar a {
  padding: 20px 15px;
  font-size: 20px;
  transition: 0.5s;
  position: sticky;
  display: inline-block;
  text-decoration: none;
  overflow: visible;
  color: #000000;
  display: block;
}

.sidebar a:hover {
  background: black;
  color: white;
}

.sidebar .close-btn {
  line-height: 50px;
  font-size: 50px;
  top: 0;
  right: 0;
  background: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  position: absolute;
}

.sidebar .close-btn:hover {
  background: black;
  overflow: hidden;
  color: white;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease;
  z-index: 1000;
}

.overlay.show {
  visibility: visible;
  opacity: 1;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.input-bar {
  width: 100%;
  height: 100px;
  padding: 15px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 15px;
  transition: all 0.3s ease;
  resize: none;
}

#main {
  background-color: white;
}

.menu-btn {
  font-size: 50px;
  padding-top: 0px;
  padding-left: 1%;
  padding-bottom: 6px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  display: flex;
  flex-wrap: wrap;
}

.creatorContainer {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 97%;
  height: 85%;
  background: #ffffffaf;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  color: #fff;
  border-radius: 15px;
  padding: 30px 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content-header {
  font-size: 1rem;
  padding: 1.5%;
  background: #000000;
  color: white;
  display: block;
}
