header{
    background-color: black;
    color: white;
    display: flex;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    align-items: center;
}

body{
    margin: 0;
    padding: 0;
}

#internship-header-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#internship-header{
    width: 135vh;
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
}

#internship-title{
    line-height: 1.5;
}

#title{
    font-weight: bold;
    font-size: 36px;
}

#description{
    font-size: 14px;
    color: grey;
    max-width: 50vh;
}

#functions{
    display: flex;
    gap: 10px;
}

#search-bar{
    background-color: rgba(224, 243, 250, 0.726);
    border: none;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding-left: 8px;
}

#search-bar input{
    background-color: rgba(224, 243, 250, 0.726);
    border: none;
    padding: 10px 10px 10px 20px;
    border-radius: 8px;
}

#search-bar input:focus {
    outline: none;
}

#add-button{
    background-color: rgb(30, 59, 192);
    border: none;
    padding: 10px;
    border-radius: 8px;
    width: 28vh;
    text-align: center;
}

#add-button button{
    background-color: rgb(30, 59, 192);
    color: rgb(224, 223, 223);    
    border: none;
    font-weight: bold;
}

#content-container{
    display: flex;
    justify-content: center;
}

#content{
    width: 135vh;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 15px;
}

.content-section:nth-child(odd){
    max-width: 38vh;
    height: 32vh;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 4px 6px rgb(197, 197, 197);
    padding: 20px;
    line-height: 1.2;
}

.content-section:nth-child(even){
    max-width: 38vh;
    height: 32vh;
    border-radius: 10px;
    background-color: rgba(217, 222, 223, 0.637);
    box-shadow: 2px 4px 6px rgb(197, 197, 197);
    padding: 20px;
    line-height: 1.2;
}

.internship-content-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.status{
    border-radius: 12px;
    padding: 4px 8px;
    background-color: aliceblue;
    font-weight: bold;
    color: rgb(54, 54, 54);
    font-size: 9px;
    height: fit-content;
}

.internship-details label{
    font-weight: bold;
    color: rgb(54, 54, 54);
    font-size: 9px;
}

.internship-id{
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.4;
}

.content-row{
    margin-top: 5px;
    width: 90%;
}

.internship-label{
    font-weight: bold;
    
}

.content-row label{
    font-size: 9px;
    color: grey;
    font-weight: bold;
}

.date-data{
    font-weight: bold;
    font-size: 14px;
}

.duration-data{
    font-weight: bold;
    font-size: 14px;
    color: rgb(61, 88, 209);
}

.duration-content-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: last baseline;
    margin-top: 20px;
}

#duration label{
    font-size: 9px;
    color: grey;
    font-weight: bold;
}

#detail-button{
    font-size: 12px;
    font-weight: bold;
}

#detail-button a{
    text-decoration: none;
    color: rgb(61, 88, 209);
}