header{
    background-color: black;
    color: white;
    display: inline-block;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
}

#assessor-detail-header{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#assessor-detail-header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 4px 6px rgb(216, 216, 216);
    width: 140vh;
    padding: 10px;
    border-radius: 12.5px;
    background-color: white;
}

#assessor-detail-content-container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#assessor-detail-content{
    padding: 10px; 
    width: 140vh;
    height: 67vh;
    display: flex;
    gap: 2vh;
}

#assessor-detail-profile-container{
    width: 32%;
}

#assessor-detail-profile{
    height: 67%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    box-shadow: 2px 4px 6px rgb(216, 216, 216);
    border-radius: 12.5px;
    margin-bottom: 7.5%;
    padding: 10px;
    padding-top: 40px;
    background-color: white;
}

#profile-role{
    border-radius: 12.5px;
    background-color: rgb(203, 218, 231);
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    width: 10vh;
    font-size: 12px;
    font-weight: bolder;
}

#profile-email{
    margin-top: 12%;
    padding: 10px;
    text-align: center;
    width: 90%;
    border-top: 1px solid lightgrey;
}

#assessor-internships-container{
    display: flex;
    justify-content: space-between;
    height: 12%;
    box-shadow: 2px 4px 6px rgb(216, 216, 216);
    background-color: rgb(241, 241, 241);
    border-radius: 12.5px;
    padding: 10px;
}

.assessor-internships{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    background-color: white;
    border-radius: 12.5px;
    width: 47%;
    text-align: center;
}

#assessor-details{
    width: 60%;
    box-shadow: 2px 4px 6px rgb(216, 216, 216);
    border-radius: 12.5px;
    padding: 20px;
    padding-top: 0;
    background-color: white;
}

#account-information{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

input{
    width: 100%;
    padding: 4px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgb(223, 223, 223);
    margin-top: 4px;
}

label{
    font-size: 12px;
    font-weight: bold;
    color: rgb(157, 150, 141);
}

#id-name{
    display: flex;
    justify-content: space-between;
}

#assessor-id{
    width: 47%;
}

#assessor-name{
    width: 47%;
}